*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}




body{
    background-color:navajowhite;
    header{
        z-index:10;
        height: 40px;
        nav{
            height:100%;
        }
    }

    main{
        margin-top:43px;
        margin-bottom:25px;
        .card-group{
            .card{
                background-color: aquamarine;
                .card-body{
                    
                }
            }
        }

    }

    footer{
        height:25px;
    }
}